---
title: "{{ .Recipe.Name | escapeQuotes }}"
{{- if .Recipe.Description }}
summary: "{{ .Recipe.Description | escapeQuotes }}"
{{- end }}
{{- if .Recipe.DateAdded }}
date: {{ .Recipe.DateAdded }}
{{- end }}
{{- if .Recipe.DateUpdated }}
lastmod: {{ .Recipe.DateUpdated }}
{{- end }}
{{- if .Recipe.RecipeCategory }}
categories:
{{- range categoryNames .Recipe.RecipeCategory }}
  - "{{ . }}"
{{- end }}
{{- end }}
{{- if .Recipe.Tags }}
tags:
{{- range tagNames .Recipe.Tags }}
  - "{{ . }}"
{{- end }}
{{- end }}
---

{{- if .Recipe.Description }}

{{ .Recipe.Description | escapeQuotes }}
{{- end }}

{{- if or .Recipe.PrepTime .Recipe.CookTime .Recipe.TotalTime .Recipe.RecipeServings .Recipe.Rating }}

{{"{{"}}< recipedetails{{ if .Recipe.PrepTime }} PrepTime="{{ .Recipe.PrepTime }}"{{ end }}{{ if .Recipe.CookTime }} CookTime="{{ .Recipe.CookTime }}"{{ end }}{{ if .Recipe.TotalTime }} TotalTime="{{ .Recipe.TotalTime }}"{{ end }}{{ if .Recipe.RecipeServings }} Servings="{{ .Recipe.RecipeServings }}"{{ end }}{{ if .Recipe.Rating }} Rating="{{ .Recipe.Rating }}"{{ end }} >{{"}}"}}
{{- end }}

{{- if .Recipe.RecipeIngredient }}

## Ingredients

{{ range .Recipe.RecipeIngredient -}}
{{- if .Title }}
### {{ .Title }}

{{ end -}}
- {{ .Display }}
{{ end -}}
{{- end }}

{{- if .Recipe.RecipeInstructions }}

## Instructions

{{ range $i, $step := .Recipe.RecipeInstructions -}}
{{- if $step.Title }}
### {{ $step.Title }}

{{ end -}}
{{ add $i 1 }}. {{ $step.Text }}
{{ end -}}
{{- end }}

{{- if .Recipe.Notes }}

## Notes

{{ range .Recipe.Notes -}}
{{- if .Title }}**{{ .Title }}:** {{ end }}{{ .Text }}

{{ end -}}
{{- end }}

{{- if hasNutrition .Recipe.Nutrition }}

{{ with .Recipe.Nutrition -}}
{{"{{"}}< nutrition{{ if .Calories }} Calories="{{ .Calories }}"{{ end }}{{ if .CarbohydrateContent }} Carbohydrates="{{ .CarbohydrateContent }}"{{ end }}{{ if .ProteinContent }} Protein="{{ .ProteinContent }}"{{ end }}{{ if .FatContent }} Fat="{{ .FatContent }}"{{ end }}{{ if .SaturatedFatContent }} SaturatedFat="{{ .SaturatedFatContent }}"{{ end }}{{ if .UnsaturatedFatContent }} UnsaturatedFat="{{ .UnsaturatedFatContent }}"{{ end }}{{ if .TransFatContent }} TransFat="{{ .TransFatContent }}"{{ end }}{{ if .CholesterolContent }} Cholesterol="{{ .CholesterolContent }}"{{ end }}{{ if .SodiumContent }} Sodium="{{ .SodiumContent }}"{{ end }}{{ if .FiberContent }} Fiber="{{ .FiberContent }}"{{ end }}{{ if .SugarContent }} Sugar="{{ .SugarContent }}"{{ end }} >{{"}}"}}
{{- end -}}
{{- end }}

{{- if .Recipe.OrgURL }}
*Recipe Source*: "{{ .Recipe.OrgURL }}"
{{- end }}
