<div class="nutrition-info">
<ul>
    {{- if .Get "Calories" }}<li class="calories">Calories: {{ .Get "Calories" }}</li>
{{ end -}}
{{- if .Get "Carbohydrates" }}<li class="carbohydrates">Carbohydrates: {{ .Get "Carbohydrates" }}</li>
{{ end -}}
{{- if .Get "Protein" }}<li class="protein">Protein: {{ .Get "Protein" }}</li>
{{ end -}}
{{- if .Get "Fat" }}<li class="fat">Fat: {{ .Get "Fat" }}</li>
{{ end -}}
{{- if .Get "SaturatedFat" }}<li class="saturated-fat">Saturated Fat: {{ .Get "SaturatedFat" }}</li>
{{ end -}}
{{- if .Get "UnsaturatedFat" }}<li class="unsaturated-fat">Unsaturated Fat: {{ .Get "UnsaturatedFat" }}</li>
{{ end -}}
{{- if .Get "TransFat" }}<li class="trans-fat">Trans Fat: {{ .Get "TransFat" }}</li>
{{ end -}}
{{- if .Get "Cholesterol" }}<li class="cholesterol">Cholesterol: {{ .Get "Cholesterol" }}</li>
{{ end -}}
{{- if .Get "Sodium" }}<li class="sodium">Sodium: {{ .Get "Sodium" }}</li>
{{ end -}}
{{- if .Get "Fiber" }}<li class="fiber">Fiber: {{ .Get "Fiber" }}</li>
{{ end -}}
{{- if .Get "Sugar" }}<li class="sugar">Sugar: {{ .Get "Sugar" }}</li>
{{ end -}}
</ul>
</div>
