<div class="recipe-details">
<ul>
{{- if .Get "PrepTime" }}
<li class="prep-time">Prep Time: {{ .Get "PrepTime" }}</li>
{{- end }}
{{- if .Get "CookTime" }}
<li class="cook-time">Cook Time: {{ .Get "CookTime" }}</li>
{{- end }}
{{- if .Get "TotalTime" }}
<li class="total-time">Total Time: {{ .Get "TotalTime" }}</li>
{{- end }}
{{- if .Get "Servings" }}
<li class="servings">Serves {{ .Get "Servings" }}</li>
{{- end }}
{{- if .Get "Yields" }}
<li class="yields">Yields {{ .Get "Yields" }}</li>
{{- end }}
{{- if .Get "Rating" }}
<li class="rating">{{ .Get "Rating" }}</li>
{{- end }}
</ul>
</div>
